<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>在线考试系统</title>
  <script src="files/jquery-3.3.1.min.js"></script>
  <script src="files/vue.min.js"></script>
  <script src="files/vue-resource.min.js"></script>
  <link rel="stylesheet" type="text/css" href="files/style.css" />
</head>
<body>
<div id="app">
  <h1>在线考试系统</h1>
  <h2>请登录</h2>
  <table>
    <tr>
      <td>账号：</td>
      <td><input name="account" v-model="postdata.account" placeholder="在此输入账号..."></td>
    </tr>
    <tr>
      <td>密码：</td>
      <td><input name="password" v-model="postdata.password" placeholder="在此输入密码..."></td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="button" @click="trylogin()" value="登录">
      </td>
    </tr>
  </table>
</div>

<script>
window.onload = function(){
  var vm = new Vue({
  //new Vue({
    el:'#app',
    data:{
      postdata:{
        account: '16001',
        password: 'stu',
      }
    },
    methods:{
      trylogin:function(){
        //发送 post 请求
        this.$http.post('http://localhost:8000/login/', this.postdata, {emulateJSON: true, credentials: true}).then(function(res){
          //document.write(res.bodyText);
          console.log(res.bodyText);
          var dataret = JSON.parse(res.bodyText);
          if (dataret.code == 200)
          {
            console.log(dataret.redirect);
            window.location.href = dataret.redirect;
          }
          else
          {
            alert('登录错误！可能是因为您的账号密码输入错误！');
          }
        },function(res){
          console.log(res.status);
        });
      }
    }
  })
}
</script>
</body>
</html>
