<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>在线考试系统 - 学生用户</title>
  <script src="files/jquery-3.3.1.min.js"></script>
  <script src="files/vue.min.js"></script>
  <script src="files/vue-resource.min.js"></script>
  <script src="files/common.js"></script>
  <link rel="stylesheet" type="text/css" href="files/style.css" />
</head>
<body>
<div id="verify">
  <h1>在线考试系统</h1>
  <p>当前用户：{{ loginuser }}<br><a @click="logout()" href="#">注销登录</a></p>
</div>

<div id="testlist">
  <!-- <h2>我的信息</h2>
  <p>{{ myinfo }}</p> -->
  <h2>可参加的考试</h2>
  <p>{{ testlist }}</p>
  <table>
    <thead>
      <th>试题编号</th>
      <th>试题名称</th>
      <th>是否开放</th>
      <th>出题老师</th>
      <th>题目数量</th>
      <th>准考人数</th>
      <th>进入考试</th>
    </thead>
    <tbody>
      <tr v-for ="(paper, index) in testlist">
        <td>{{  }}</td>
        <td>{{  }}</td>
        <td v-if="paper.penabled == 'no'">否</td>
        <td v-if="paper.penabled == 'yes'">是</td>
        <td>{{  }}</td>
        <td>{{  }}</td>
        <td>{{  }}</td>
        <td v-if="paper.penabled == 'no'"></td>
        <td v-if="paper.penabled == 'yes'"><input type="button" value="进入"></td>
      </tr>
    </tbody>
  </table>
  <h2>参加过的考试</h2>
  <p>{{ testhistory }}</p>
</div>

<script src="files/student.js"></script>

</body>
</html>
