<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>在线考试系统 - 考试进行中</title>
  <script src="files/jquery-3.3.1.min.js"></script>
  <script src="files/vue.min.js"></script>
  <script src="files/vue-resource.min.js"></script>
  <script src="files/common.js"></script>
  <link rel="stylesheet" type="text/css" href="files/style.css" />
</head>
<body>
<div id="verify">
  <h1>在线考试系统</h1>
  <p>当前用户：{{ loginuser }}<br><a @click="logout()" href="#">注销登录</a></p>
</div>

<div id="show_paper">
  <h2>试题内容</h2>
  <table>
    <thead>
      <th>题号/分值</th>
      <th colspan="4">题目内容/您的答案</th>
    </thead>
    <tbody>
    <template v-for="(pro, index) in test.test_problem">
      <tr>
        <td>{{ index + 1 }}</td>
        <td colspan="4">{{ pro.problem }}</td>
      </tr>
      <tr v-if="pro.type == 'keguan'">
        <td>({{ pro.point }} 分)</td>
        <td><input type="radio" v-bind:name="pro.id" v-bind:value="pro.option1" v-model="pro.answer">{{ pro.option1 }}</td>
        <td><input type="radio" v-bind:name="pro.id" v-bind:value="pro.option2" v-model="pro.answer">{{ pro.option2 }}</td>
        <td><input type="radio" v-bind:name="pro.id" v-bind:value="pro.option3" v-model="pro.answer">{{ pro.option3 }}</td>
        <td><input type="radio" v-bind:name="pro.id" v-bind:value="pro.option4" v-model="pro.answer">{{ pro.option4 }}</td>
      </tr>
      <tr v-if="pro.type == 'zhuguan'">
        <td>({{ pro.point }} 分)</td>
        <td colspan="4"><textarea v-model="pro.answer"></textarea></td>
      </tr>
    </template>
    </tbody>
  </table>
  <input type="button" v-on:click="submit_answer()" value="提交答案" />
</div>

<script src="files/testing.js"></script>

</body>
</html>
